@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
.container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    border-bottom: 1px solid #d14900;
    background-color: #001a33;
    color: #fff;
    position: fixed;
    width: 100%;
}