<section class="container-section">
    <h1>Projetos</h1>
    <div>
      <div class="container-content" *ngFor="let projeto of projetos">
        <h2>{{ projeto.nome }}</h2>
        <div class="container-content-section">
            <p>
                {{ projeto.descricao }}
            </p>
        </div>
        <div class="container-links-content">
          <ul>
            <li *ngIf="projeto.link"><a href="{{ projeto.link }}" [target]="target">{{ projeto.nameLink }}</a></li>
            <li *ngIf="projeto.link2"><a href="{{ projeto.link2}}" [target]="target">{{ projeto.nameLink2 }}</a></li>
            <li *ngIf="projeto.link3"><a href="{{ projeto.link3 }}" [target]="target">{{ projeto.nameLink3 }}</a></li>
          </ul>
        </div>
      </div>
    </div>
</section>
