@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Share+Tech+Mono');
.container-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #001a33;
    padding: 150px 150px 150px 150px;
    color: #fff;
}

.container-content > h1 {
    font-size: 1.8em;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.container-content {
    font-size: 1.5em;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}